/*
Syntax error: Undefined mixin 'clearfix'.
        on line 8 of boot/_responsive-utilities.scss, in `clearfix'
        from line 8 of boot/_responsive-utilities.scss
        from line 18 of ./boot/responsive.scss

3: // For phone and tablet devices
4: // -------------------------------------------------------------
5: 
6: 
7: // REPEAT VARIABLES & MIXINS
8: // -------------------------
9: // Required since we compile the responsive stuff separately
10: 
11: //@import "variables"; // Modify this for custom colors, font-sizes, etc
12: //@import "mixins";
13: 

Backtrace:
boot/_responsive-utilities.scss:8:in `clearfix'
boot/_responsive-utilities.scss:8
./boot/responsive.scss:18
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:235:in `watch'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/plugin.rb:107:in `method_missing'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/exec.rb:463:in `watch_or_update'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/bin/scss:23:in `load'
/home/lx75249/.rvm/gems/ruby-2.0.0-p195/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 8 of boot/_responsive-utilities.scss, in `clearfix'\A         from line 8 of boot/_responsive-utilities.scss\A         from line 18 of ./boot/responsive.scss\A \A 3: // For phone and tablet devices\A 4: // -------------------------------------------------------------\A 5: \A 6: \A 7: // REPEAT VARIABLES & MIXINS\A 8: // -------------------------\A 9: // Required since we compile the responsive stuff separately\A 10: \A 11: //@import \"variables\"; // Modify this for custom colors, font-sizes, etc\A 12: //@import \"mixins\";\A 13: "; }
